body {
    background-image:url(fondo.jpg);
    background-color: black;
    font-family:'Comic Neue', cursive;
    margin: auto;

}

header > div.barraprincipal{
  height: 70px;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 120px;
}

.conjunto {
  display:flex;
  justify-content: center;
  align-items: center;
}

.menu {
      display: flex;
      justify-content: center;
      margin:auto;
      height:10vh;
      list-style: none;
      background-color:rgb(0, 0, 0);
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  }

  a {
    font-size: 22px;
    text-decoration: none;
    transition: all 0.45s;
    color: white !important;
  }

.perfil {
  width: 35px;
  height: 35px;
  margin-top:10px;
 }

 .carro {
  width: 75px;
  height: 75px;
 }

 .icons{
  display: flex;
  justify-content: center;
  align-items: center;
 }

#Buscador {
background: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png") no-repeat 0px 5px;
background-size: 24px;
width: 200px;
border:transparent;
padding: 10px 10px 10px 30px;
overflow: hidden;
}

 .Logopagina{
  height: 100px;
  width: 100px;
  border-radius:50px;
 }

 nav {
  font-family:'Comic Neue', cursive;
 }

 form {
    display: block;
    margin-top: 0em;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
input {
    width: 50%;
    border: solid 1px #77777a;
    padding: 10px;
    font-size: 16px;   
}

label{
    display: block;
    font-size: 18px;
    color: #616162;
    padding: 12px 0 10px 0;
}

.submit-button{
    background-color: white;
    border: none;
    color: black;
    text-align: center;
}
.submit-button:hover{
    background-color: black;
    color: white;
}
.maps {
    margin: 10px 0 20px 0;
}

iframe {
    overflow-clip-margin: content-box !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow: clip !important;
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 25px; 
    border: none; 
    right: 30px;
    z-index: 99;
    outline: none; 
    background-color: rgb(0, 225, 255); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%; 
    font-size: 16px; 
    height: 50px;
    width: 50px;
  }

  #myBtn:hover {
    background-color: #555; 
  }

h1{
  font-size: 60px;
  display:inline-block;
  background-color: #000000;
  color: rgb(151, 151, 151);
}