body {
  background-image: url(fondo.jpg);
  background-color: black;
    font-family:'Comic Neue', cursive;
    margin: auto;
    padding-top: 80px;
}

header > div.barraprincipal{
  height: 70px;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
   display: flex;
  justify-content: space-between;
   height: 120px;

}
.menu {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height:10vh;
        list-style: none;
        background-color:rgb(0, 0, 0);
}
.menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
    }
  
    a {
      font-size: 22px;
      text-decoration: none !important;
      transition: all 0.45s;
      color: white !important;
    }

    .conjunto {
      display:flex;
      justify-content: center;
      align-items: center;
    }

.perfil, .carro {
  display: inline-flex;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.perfil {
  width: 35px;
  height: 35px;
  margin-top:10px;
 }

 .carro {
  width: 75px;
  height: 75px;
 }

 .icons{
  display: flex;
  justify-content: center;
  align-items: center;
 }

    a:visited {
      color: white !important;
    }

  .perfil, .carro {
    display: inline-flex;
    border-radius: 30px;
    width: 30px;
    height: 30px;
  }

  .perfil {
    width: 35px;
  height: 35px;}

 .carro{
  width: 75px;
  height: 75px;
  margin-bottom: 16px;
}

.contenedor{
  padding: 0%;
  margin-block:15px;
 }

  #Buscador {
  background: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png") no-repeat 0px 5px;
  background-size: 24px;
  width: 200px;
  border:transparent;
  padding: 10px 10px 10px 30px;
  }

 .Logopagina{
  height: 100px;
  width: 100px;
  border-radius:50px;
 }

 nav {
  font-family:'Comic Neue', cursive;
 }

*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}
.img{
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom:20px;
}

.contenedor> div{
box-shadow: 0px 0px 5px 0px black;
background-color: rgb(245, 211, 61);
border-radius: 20px;

}
.contenedor>div:hover{
  background-color:rgb(180, 149, 11);
}
.informacion{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.informacion>p:first-child{
font-family: lilita one;
font-size: 25px;
font-weight: 300;
}
.informacion.precio{
  font-size: 20px;
  font-weight: 500;
}
.informacion.precio span{
  font-size: 17px;
  font-weight: 300;
}
.informacion.button{
  background-color: rgb(220, 20, 143);
  width: 100px;
  height: 35;
  border-radius: 10px;
  border: none;

  font-size: 17px;
  font-weight: 30;
  cursor: pointer;
}
.informacion.button:hover{
  background-color: rgb(248, 126, 201);
}