.titulo1{
  color: white;
  font-weight: bolder;
  font-size: 30px;
  text-align: center; 
}
.titulo{
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-align: start;
  padding-left: 10px;
}

.texto{
  color: white;
  font-weight: 30px;
  font-weight: bolder;
  text-align: center; 
}

 nav {
  font-family:'Comic Neue', cursive;
 }

 form {
    
    margin-top: 0em;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
  
}
input {
    width: 500px;
    border: solid 1px #38383a;
    padding: 10px;
    font-size: 16px;
   
}

label{
    font-size: 20px;
    color: rgb(245, 242, 242);
    font-weight: bolder;
    padding: 12px 0 10px 0;
    text-shadow: gray 3px 3px 3px;
    
}

.submit-button{
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    margin: 10px;
 
}
.submit-button:hover{
    box-shadow: 5px 10px 18px #888888;;
}

.contenedor{
  display: flex;
 justify-content: space-around ;
 flex-direction: row;
 flex-wrap: nowrap;
 align-items: center;
 align-content: center;
 margin: 20px;
}

.iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    display: inline-block;
}
  
  .h3{
    display: flex;
    justify-content: center;
  }