body {
    font-family: arial;
    background-image:url(/assets/images/fondo.jpg);
    margin: 0;
    margin-bottom: 30px;
  }
  
  .form-login {
    width: 400px;
    height: 340px;
    background: #21238d;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 110px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 95%;
    border: 1px solid #0159ab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #c0bdbd;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #c2db32;
    border: none;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
  }
  
  .form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
  text-decoration: underline;
  }

  header > div.barraprincipal {
  height: 20%;
  width: 100%;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   height: 120px;
   

  }


 .Logopagina{
  display: flex;
  justify-content: left;
  height: 100px;
  width: 100px;
  border-radius:50px;
  margin-top: 10px;
  margin-left: 30px;
 }

 