body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/fondo.jpg);
  background-color: black;
  font-family: 'Comic Neue', cursive;
  margin: auto;
}

header > div.barraprincipal {
  height: 70px;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  margin: auto;
}

.conjunto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: auto;
  height: 10vh;
  list-style: none;
  background-color: rgb(0, 0, 0);
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  gap: 5%;
}

a {
  font-size: 22px;
  text-decoration: none;
  transition: all 0.45s;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  
}

.perfil {
  width: 35px;
  height: 35px;
}

.carro {
  width: 75px;
  height: 75px;
}

.icons {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#Buscador {
  background: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png") no-repeat 0px 5px;
  background-size: 24px;
  width: 200px;
  border: transparent;
  padding: 10px 10px 10px 30px;
  overflow: hidden;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  border: none;
  right: 30px;
  z-index: 99;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 16px;
  height: 50px;
  width: 50px;
}

#myBtn:hover {
  background-color: rgb(230, 210, 32);
}

.Logopagina {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 3rem;
  margin: 5rem 3rem;
}

.card {
  width: 320px;
  height: 500px;
  background-color: rgb(245, 211, 61);
  border-radius: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  max-height:250px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.card h4 {
  font-size: 35px;
  font-weight: none;
}

.card .prices {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.card {
  font-size: 18px;
  color: #000000;
  font-weight: bolder;
}

.before-price {
  font-size: 18px;
  color: #000000;
  font-weight: bolder;
  text-decoration: line-through;
}

.card button {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 10px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnn {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

button:hover {
  background-color: #fff;
  color: #000000;
  transition: 0.7s;
}

footer {
  background-color: black;
  color: white;
  padding-bottom: 25px;
  display: block;
  box-sizing: inherit;
  position: relative;
  max-width:100%;
  margin: 0 auto;
  bottom: 0;
}

.titular {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

.Encabezado {
  text-align: center;
  margin-bottom: 15px;
}

.email-box {
  display: flex;
  justify-content: center;
  height: 40px;
  color: rgb(255, 255, 255);
  margin-top: 40px;
}

.tbox,
.btn {
  border: none;
  outline: none;
}

.tbox {
  width: 0px;
  transition: 0.6s;
}

.email-box:hover > .tbox,
.tbox:focus {
  width: 260px;
  padding: 10px 0;
}

.btn {
  background: #f35c20;
  color: rgb(255, 255, 255);
  padding: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.7s;
}

.division {
  font-size: 35px;
  text-align: center;
  font-family: 'Comic Neue', cursive;
}

.division {
  font-size: 25px;
  font-family: 'Comic Neue', cursive;
}

.tit {
  font-size: calc(1.375rem + 1.5vw);
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .barraprincipal {
    display: flex;
    height: auto;
    max-width: 100%;
  }
  
  .Logopagina {
    height: 60px;
    width: 60px;
    
  }
  
  .icons {
    margin-top: 0;
  }
  
  .menu {
    height: auto;
    display: flex;
    align-items: center;
    max-width: auto;
    padding: 0;
  }
  
  .menu li {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }
  
  .dropdown-content {
    position: relative;
    background-color: black;
    min-width: auto;
    box-shadow: none;
  }
  
  .contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;

  }

  .card {
    width:auto;
    height: auto;
    margin-bottom:5%;
  }
  
  .card img {
    object-fit: cover;
    min-height:500px;
    border-radius: 12px;
  }
  
  .before-price {
    font-size: 14px;
  }
  
  .card button {
    width: 100%;
  }
  
  footer {
    padding-bottom: 50px;
  }
  
  .tit {
    font-size: 22px;
  }
  
  .division {
    font-size: 18px;
  }
}

/* Estilos para pantallas medianas y grandes */
@media screen and (min-width: 768px) {
  .barraprincipal {
    height: 120px;
  }
  
  .menu {
    height: 10vh;
  }
  
  .menu li {
    width: 125px;
    height: 50px;
  }
  
  .dropdown-content {
    min-width: 160px;
    background-color: #000000;
    position: relative;
  }

  .card img {
    object-fit: cover;
  }

}


/* Estilos para dispositivos pequeños (hasta 480px) */

@media screen and (max-width: 480px) {
  .Logopagina {
    height: 60px;
    width: 60px;
  }

  .icons {
    margin-top: 0;
  }

  .menu {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }

  .dropdown-content {
    position: relative;
    background-color: black;
    min-width: auto;
    box-shadow: none;
  }

  .card {
    width: 100%;
    height: auto;
    max-height: none;
  }

  .card img {
    max-height: 250px;
    border-radius: 12px;
    object-fit: cover;
  }

  .before-price {
    font-size: 14px;
  }

  .card button {
    width: 100%;
  }

  footer {
    padding-bottom: 50px;
  }

  .tit {
    font-size: 22px;
  }

  .division {
    font-size: 18px;
  }
}

/* Estilos para dispositivos de 300 a 600 píxeles */

@media screen and (min-width: 230px) and (max-width: 600px) {
  header > div.barraprincipal {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Logopagina {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    margin-left: -8%;
  }

  .conjunto{
    display: flex;
    justify-content: space-around;
  }

  #Buscador {
    width:50%;
    font-size:2px;
    margin-left: -20%;
  }
  
  .menu {
    height: auto;
    flex-direction:row;
    align-items: center;
    gap: 4px;
  }
  
  .menu li {
    width: 100%;
    height: 40px;
  }

  a {
    font-size: 10px;
  }

  #buscador {
    background-size: 10px;
    width: 100px;
    border: transparent;
    padding: 5px 5px 5px 20px;
    overflow: hidden;
  }

  #perfil{
    width: 20px;
    height: 20px;
  }

  .carro{
    width: 35px;
    height: 35px;
  }
 
  .dropdown-content {
    min-width: 150px;
    background-color: black;
    position: relative;
  }

  .contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 100%;
    height:50%;
    max-height: none;
  }
  
  .card img {
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    
  }
  
  .before-price {
    font-size: 14px;
  }
  
  .card button {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }
  
  footer {
    padding-bottom: 30px;
  }
  
  .tit {
    font-size: 18px;
  }
  
  .division {
    font-size: 14px;
  }

  .compra{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    margin-bottom: 5%;
  }

  #boton-carro{
    width: 50%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
  }

}

