body {
  background-image:url(../images/fondo.jpg);
  background-color: black;
  font-family:'Comic Neue', cursive;
  margin:auto;
}

header > div.barraprincipal{
  height: 70px;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 120px;
}

.conjunto {
  display:flex;
  justify-content: center;
  align-items: center;
}

.menu {
      display: flex;
      justify-content: center;
      margin:auto;
      height:10vh;
      list-style: none;
      background-color:rgb(0, 0, 0);
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  }

  a {
    font-size: 22px;
    text-decoration: none;
    transition: all 0.45s;
    color: white !important;
  }

.perfil {
  width: 35px;
  height: 35px;
  margin-top:10px;
 }

 .carro {
  width: 75px;
  height: 75px;
 }

 .icons{
  display: flex;
  justify-content: center;
  align-items: center;
 }


 .panel-carrito {
  position: fixed;
  color: rgb(255, 255, 255);
  font-family: comic;
  font-size: 20px;
  top: 0;
  right: -500px;
  width: 400px;
  height: 100%; 
  background-color: #472828;
  border-radius: 10px;
  padding: 10px;
  transition: right 0.4s ease-in-out;
  z-index: 9999;
}

.Producto-total{
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.envio{
  display: flex;
  justify-content:start;
  margin-top: 70%;
}

.h3{
  display: flex;
  justify-content: center;
}

#Buscador {
background: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png") no-repeat 0px 5px;
background-size: 24px;
width: 200px;
border:transparent;
padding: 10px 10px 10px 30px;
overflow: hidden;
}

#myBtn {
display: none; 
position: fixed; 
bottom: 25px; 
border: none; 
right: 30px;
z-index: 99;
outline: none; 
background-color: rgb(255, 255, 255); 
color: rgb(0, 0, 0); 
cursor: pointer; 
padding: 15px; 
border-radius: 50%; 
font-size: 16px; 
height: 50px;
width: 50px;
}

#myBtn:hover {
background-color: rgb(75, 3, 3); 
}

img {
width: 250px;
height: 250px;

}

.Logopagina{
height: 100px;
width: 100px;
border-radius:50px;
}

@keyframes slide {
0% { transform: translateX(0); }
10% { transform: translateX(0); }

15% { transform: translateX(-100%); }
30% { transform: translateX(-100%); }

35% { transform: translateX(-200%); }
50% { transform: translateX(-200%); }

55% { transform: translateX(-300%); }
70% { transform: translateX(-300%); }

75% { transform: translateX(-400%); }
90% { transform: translateX(-400%); }

95% { transform: translateX(-500%); }
100% { transform: translateX(-500%); }
}

.slider {
position: relative;
}

.slides {
position: relative;
display: flex;
overflow: hidden;
}

.slide {
width: 100vw;
flex-shrink: 0;
animation-name: slide;
animation-duration: 26s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.slides:hover .slide {
animation-play-state: none;
}

.slide img {
vertical-align: top;
}

.slide a {
width: 100%;
display: inline-block;
position: relative;
}

.caption {
color: white;
text-shadow: 1px 1px rgb(80, 13, 13);
font-size: 8vw;
position: relative;
bottom: 8vw;
right: 4vw;
}

.slide:target {
animation-name: none;
position: relative;
left: 0;
top: 0;
right: 0;
bottom: 0;
z-index: 50;
}

.slider-controler {
position: relative;
left: 0;
right: 0;
bottom: 0;
text-align: center;
padding: 5px;
background-color: rgba(0, 0, 0, 0.904);
}

.slider-controler li {
margin: 0 0.5rem;
display: inline-block;
vertical-align: top;
}

.slider-controler a {
display: inline-block;
vertical-align: top;
text-decoration: none;
color: white;
font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
.slide {
  width: 500px;
  height: 250px;
}

.caption {
  font-size: 96px;
  bottom: 96px;
  right: 50px;
}
}


h1{
display:block;
border-radius: 10px;
padding: 5px 5px 5px 5px;
text-align: center;
background-color: #000000;
color: white;
font-size: 45px;
margin-top: 5%;
font-family:'Comic Neue', cursive;
}


footer {
background-color: black;
color: white;
padding:20px;
display: block;
box-sizing: inherit;
position: relative;
box-sizing: border-box;
text-align: center;
bottom: 0;
width: auto;
}

.titular {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
  
}
.Encabezado {
  text-align: center;
  margin-bottom: 15px;
  
}
.texto {
  text-align: center;
}
.email-box {
display: flex;
justify-content: center;
height: 40px;
color: black;
margin-top: 40px;
}

.tbox, .btn {
  border: none;
  outline: none;
}
.tbox {
  width: 0px;
  transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus {
  width: 260px;
  padding: 0 10px;
}
.btn {
  background: #f35c20 !important;
  color: rgb(255, 255, 255) !important;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}

h3 {
font-size: 35px;
display: block;
background-color: #000000;
color: aliceblue;
text-align: center;
font-family:'Comic Neue', cursive;
}

.division {
  font-size: 25px;
  font-family:'Comic Neue', cursive;
}

.tit{
  font-size: (1.375rem + 1.5vw)
}