img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

.contenedor-tarjeta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 3rem;
  margin: 5rem 3rem;
}

.card {
  width: 320px;
  height: 500px;
  background-color: rgb(245, 211, 61);
  border-radius: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  max-height:250px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.card h4 {
  font-size: 35px;
  font-weight: none;
}

.card .prices {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.card {
  font-size: 18px;
  color: #000000;
  font-weight: bolder;
}

.before-price {
  font-size: 18px;
  color: #000000;
  font-weight: bolder;
  text-decoration: line-through;
}

.card button {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 10px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnn {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

button:hover {
  background-color: #fff;
  color: #000000;
  transition: 0.7s;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .barraprincipal {
    display: flex;
    height: auto;
    max-width: 100%;
  }
  
  .Logopagina {
    height: 60px;
    width: 60px;
    
  }
  
  .icons {
    margin-top: 0;
  }
  
  .menu {
    height: auto;
    display: flex;
    align-items: center;
    max-width: auto;
    padding: 0;
  }
  
  .menu li {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }

  .contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;

  }

  .card {
    width:auto;
    height: auto;
    margin-bottom:5%;
  }
  
  .card img {
    object-fit: cover;
    min-height:500px;
    border-radius: 12px;
  }
  
  .before-price {
    font-size: 14px;
  }
  
  .card button {
    width: 100%;
  }
  
  footer {
    padding-bottom: 50px;
  }
  
  .tit {
    font-size: 22px;
  }
  
  .division {
    font-size: 18px;
  }
}

/* Estilos para pantallas medianas y grandes */
@media screen and (min-width: 768px) {
  .barraprincipal {
    height: 120px;
  }
  
  .menu {
    height: 10vh;
  }
  
  .menu li {
    width: 125px;
    height: 50px;
  }

  .card img {
    object-fit: cover;
  }

}


/* Estilos para dispositivos pequeños (hasta 480px) */

@media screen and (max-width: 480px) {
  .Logopagina {
    height: 60px;
    width: 60px;
  }

  .icons {
    margin-top: 0;
  }

  .menu {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }

  .card {
    width: 100%;
    height: auto;
    max-height: none;
  }

  .card img {
    max-height: 250px;
    border-radius: 12px;
    object-fit: cover;
  }

  .before-price {
    font-size: 14px;
  }

  .card button {
    width: 100%;
  }

  footer {
    padding-bottom: 50px;
  }

  .tit {
    font-size: 22px;
  }

  .division {
    font-size: 18px;
  }
}

/* Estilos para dispositivos de 300 a 600 píxeles */

@media screen and (min-width: 230px) and (max-width: 600px) {
  header > div.barraprincipal {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Logopagina {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    margin-left: -8%;
  }

  .conjunto{
    display: flex;
    justify-content: space-around;
  }

  #Buscador {
    width:50%;
    font-size:2px;
    margin-left: -20%;
  }
  
  .menu {
    height: auto;
    flex-direction:row;
    align-items: center;
    gap: 4px;
  }
  
  .menu li {
    width: 100%;
    height: 40px;
  }

  a {
    font-size: 10px;
  }

  #buscador {
    background-size: 10px;
    width: 100px;
    border: transparent;
    padding: 5px 5px 5px 20px;
    overflow: hidden;
  }

  #perfil{
    width: 20px;
    height: 20px;
  }

  .carro{
    width: 35px;
    height: 35px;
  }

  .contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 100%;
    height:50%;
    max-height: none;
  }
  
  .card img {
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    
  }
  
  .before-price {
    font-size: 14px;
  }
  
  .card button {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }
  
  footer {
    padding-bottom: 30px;
  }
  
  .tit {
    font-size: 18px;
  }
  
  .division {
    font-size: 14px;
  }
}

