body {
<<<<<<< HEAD:Tienda.css
    background-image:url(../);
=======
    background-image:url(../images/fondo.jpg);
>>>>>>> 46238b762dcce1ff3fc6c36de010d871dd96c68e:assets/styles/Tienda.css
    background-color: black;
    font-family:'Comic Neue', cursive;
    
}

header > div.barraprincipal{
  height: 70px;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
   display: flex;
   justify-content: space-between;
   height: 120px;
}

.menu {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height:10vh;
        list-style: none;
        background-color:rgb(0, 0, 0);
        position: relative;
        z-index: 99;
}

.menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
    }
  
    a {
      font-size: 22px;
      text-decoration: none !important;
      transition: all 0.45s;
      color: white !important;
    }

  .perfil, .carro {
    display: inline-flex;
    border-radius: 30px;
    width: 30px;
    height: 30px;
  }

  .perfil {
    width: 35px;
    height: 35px;
   }
  
   .carro {
    width: 75px;
    height: 75px;
    margin-bottom: 16px;
   }

   .contenedor{
    padding: 0%;
    margin-block:15px;
   }

   .panel-carrito {
    position: fixed;
    color: rgb(255, 255, 255);
    font-family: comic;
    font-size: 20px;
    top: 0;
    right: -500px;
    width: 400px;
    height: 100%; 
    background-color: #472828;
    border-radius: 10px;
    padding: 10px;
    transition: right 0.4s ease-in-out;
    z-index: 9999;
  }

  .Producto-total{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
  }

  .envio{
    display: flex;
    justify-content:start;
    margin-top: 70%;
  }

  .h3{
    display: flex;
    justify-content: center;
  }


  .carro{
    position: relative;
    z-index: 999;
  }  

  #Buscador {
  background: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png") no-repeat 0px 5px;
  background-size: 24px;
  width: 200px;
  border:transparent;
  padding: 10px 10px 10px 30px;
  }

 .Logopagina{
  height: 100px;
  width: 100px;
  border-radius:50px;
 }

 nav {
  font-family:'Comic Neue', cursive;
 }

.container {
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
}
.carrusel{
  display: flex ;
} 

footer {
  background-color: black;
  color: white;
  padding: 20px;
  padding-bottom:25px;
  display: block;
  box-sizing: inherit;
  position: relative;
  width: 100%;
  bottom: 0;
}


.titular {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
  
}
.Encabezado {
  text-align: center;
  margin-bottom: 15px;
  
}
.texto {
  text-align: center;
}
.email-box {
display: flex;
justify-content: center;
height: 40px;
color: black;
margin-top: 40px;
}

.tbox, .btn {
  border: none;
  outline: none;
}
.tbox {
  width: 0px;
  transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus {
  width: 260px;
  padding: 0 10px;
}
.btn {
  background: #f35c20 !important;
  color: rgb(255, 255, 255) !important;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 25px; 
  border: none; 
  right: 30px;
  z-index: 99;
  outline: none; 
  background-color: rgb(10, 10, 10); 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 50%; 
  font-size: 16px; 
  height: 50px;
  width: 50px;
}

#myBtn:hover {
  background-color: #555; 
}

section {
  display: flex;
  justify-content: center;
  background-color: rgba(199, 193, 193, 0.842);
  color: rgb(14, 13, 13);
  margin-top: 50px;
  padding: 10px;
  bottom: 6px;
  position: relative;
}
.pagos{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: auto;

}
.mp {
  width: 100px;
  height: 100px;
}
.tarj {
  width: 50px;
  height: 50px;
}
.modo {
  width: 70px;
  height: 70px;
}
.efectivo {
  width: 50px;
  height: 50px;
}
.pagarconmp, .pagarcontj, .mod, .efvo {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 20px;
  padding: 0%;
  overflow: hidden;
}

h3 {
  margin-top: 50px;
  display:flex;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
}



