h4{
  display: flex;
  justify-content: center;
}

.carrito.t{
display: flex;
justify-content: center;
}

.texto-c{
  display: flex;
  justify-content: center;
}


button{
  background-color: #b47f0e;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}

button:hover{
  background-color: white;
  color: #000000;
  transition: 0.8s;
}

.container {
display: flex;
align-items: center;
justify-content: center;

}
.carousel-inner{
  display: flex ;
} 

.src-contenedor{
  display: flex;
  justify-content: center;
  gap: 3%;
  align-items: center;
  position: relative;
  padding: auto;
  margin-top: 9.5%;
}

.github-logo{
  height:3rem;
}

#links{
  font-size: 14px;
}

section {
  position: relative;
  background-color: rgba(199, 193, 193, 0.842);
  color: rgb(0, 0, 0);
  margin-top: 50px;
  padding: 10px;
  bottom: 6px;
}

.pagostexto{
  font-size: 25px;
  font-weight: bold;
}

.pagos{
  display:flex;
  justify-content:space-around;
  align-items: center;
  padding: auto;
}

.pagarconmp, .pagarcontj, .mod, .efvo {
  display: flex;
  align-items: center;
  padding: 0%;
}

.mp {
  width: 100px;
  height: 100px;
}
.tarj {
  width: 50px;
  height: 50px;
}
.modo {
  width: 70px;
  height: 70px;
}
.efectivo {
  width: 50px;
  height: 50px;
}
