body {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),url(/assets/images/fondo.jpg);
    background-color: rgb(0, 0, 0);
    font-family:'Comic Neue', cursive;
    margin: 0;
}

header > div.barraprincipal{
  display: flex;
   justify-content: space-between;
  background-color: #000000;
  padding: 5px 5px 5px 5px;   
}


.menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 5%;
        height:10vh;
        list-style: none;
        background-color:rgb(0, 0, 0);
        z-index: 99;
}

.menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
    }
  
    a {
      font-size: 22px;
      text-decoration: none;
      transition: all 0.45s;
      color: white;
    }

  .perfil, .carro {
    display: inline-flex;
    border-radius: 30px;
    width: 30px;
    height: 30px;
  }

  .perfil {
    width: 35px;
    height: 35px;
   }
  
   .carro {
    width: 75px;
    height: 75px;
    margin-bottom: 16px;
   }

   .contenedor{
    padding: 0%;
    margin-block:15px;
   }

   .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.panel-carrito {
  position: fixed;
  color: rgb(0, 0, 0);
  font-family: comic;
  font-size: 25px;
  top: 0;
  right: -500px;
  width: 400px;
  height: 100%; 
  background-color: rgb(245, 211, 61);
  border-radius: 10px;
  padding: 10px;
  transition: right 0.50s ease-in-out;
  z-index: 9999;
}

#cart-button{
  display:flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  margin-top: 8rem;
}

h4{
  display: flex;
  justify-content: center;
}

.carrito.t{
display: flex;
justify-content: center;
}

.texto-c{
  display: flex;
  justify-content: center;
}


button{
  background-color: #b47f0e;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}

button:hover{
  background-color: white;
  color: #000000;
  transition: 0.8s;
}

.carro{
  position: relative;
  z-index: 999;
}  


  #Buscador {
  background: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png") no-repeat 0px 5px;
  background-size: 26px;
  width: 200px;
  border:none;
  padding: 10px 10px 10px 30px;
  }

 .Logopagina{
  height: 100px;
  width: 100px;
  border-radius:50px;
 }

.container {
display: flex;
align-items: center;
justify-content: center;

}
.carousel-inner{
  display: flex ;
} 

footer {
  background-color: black;
  color: white;
  padding: 20px;
  padding-bottom:25px;
  display: block;
  position: relative;
  width: 100%;
  bottom: 0;
}

.Newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.src-contenedor{
  display: flex;
  justify-content: center;
  gap: 3%;
  align-items: center;
  position: relative;
  padding: auto;
  margin-top: 9.5%;
}

.github-logo{
  height:3rem;
}

#links{
  font-size: 14px;
}



.titular {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
  
}
.Encabezado {
  text-align: center;
  margin-bottom: 15px;
  
}
.texto {
  text-align: center;
}
.email-box {
display: flex;
justify-content: center;
height: 40px;
color: black;
margin-top: 40px;
}

.tbox, .btn {
  border: none;
  outline: none;
}
.tbox {
  width: 0px;
  transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus {
  width: 260px;
  padding: 0 10px;
}
.btn {
  background: #f35c20;
  color: rgb(255, 255, 255);
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 25px; 
  border: none; 
  right: 30px;
  z-index: 99;
  outline: none; 
  background-color: rgb(243, 239, 239); 
  color: rgb(8, 8, 8); 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 50%; 
  font-size: 16px; 
  height: 50px;
  width: 50px;
}

#myBtn:hover {
  background-color: #555; 
}

section {
  position: relative;
  background-color: rgba(199, 193, 193, 0.842);
  color: rgb(0, 0, 0);
  margin-top: 50px;
  padding: 10px;
  bottom: 6px;
}

.pagostexto{
  font-size: 25px;
  font-weight: bold;
}

.pagos{
  display:flex;
  justify-content:space-around;
  align-items: center;
  padding: auto;
}

.pagarconmp, .pagarcontj, .mod, .efvo {
  display: flex;
  align-items: center;
  padding: 0%;
}

.mp {
  width: 100px;
  height: 100px;
}
.tarj {
  width: 50px;
  height: 50px;
}
.modo {
  width: 70px;
  height: 70px;
}
.efectivo {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .barraprincipal {
    display: flex;
    height: auto;
    max-width: 100%;
  }
  
  .Logopagina {
    height: 60px;
    width: 60px;
    
  }
  
  .icons {
    margin-top: 0;
  }
  
  .menu {
    height: auto;
    display: flex;
    align-items: center;
    max-width: auto;
    padding: 0;
  }
  
  .menu li {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }
  }

/* Estilos para pantallas medianas y grandes */
@media screen and (min-width: 768px) {
  .barraprincipal {
    height: 120px;
  }
  
  .menu {
    height: 10vh;
  }
  
  .menu li {
    width: 125px;
    height: 50px;
  }
  .carousel-item{
    height:50%;
  }
  .imgc{
    width: auto;
    height:50%;
  }
  .pagos{
    width: 100%;
  }
}


/* Estilos para dispositivos pequeños (hasta 480px) */

@media screen and (max-width: 480px) {
  .Logopagina {
    height: 60px;
    width: 60px;
  }

  .icons {
    margin-top: 0;
  }

  .menu {
    height: auto;
    flex-direction: wrap;
    align-items: center;
  }

  .menu li {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }
  footer {
    padding-bottom: 50px;
  }

  .tit {
    font-size: 22px;
  }

  .division {
    font-size: 18px;
  }
  .carousel-item{
    max-width: 300px;
  }
  .imgc{
    width: auto;
    max-height: 250px
  }
  .pagos{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pagos .pagarconmp,
  .pagos .pagarcontj,
  .pagos .mod,
  .pagos .efvo {
    margin: 5px; /* Agrega un espaciado entre los métodos de pago */
    text-align: center; /* Centra el contenido de los métodos de pago en pantallas más pequeñas */
  }
.pagos img {
    max-width: 100px; /* Limita el tamaño de las imágenes de los métodos de pago */
  }

  /* Ajusta el tamaño y estilos de los encabezados <h4> para pantallas más pequeñas */
  h4 {
    font-size: 16px; /* Redefine el tamaño del encabezado <h4> para pantallas más pequeñas */
    margin-bottom: 10px; /* Agrega un espaciado inferior más pequeño para pantallas más pequeñas */
  }
}

/* Estilos para dispositivos de 300 a 600 píxeles */

@media screen and (min-width: 230px) and (max-width: 600px) {
  header > div.barraprincipal {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Logopagina {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    margin-left: -8%;
  }

  .conjunto{
    display: flex;
    justify-content: space-around;
  }
  .menu {
    height: auto;
    flex-direction:row;
    align-items: center;
    gap: 4px;
  }
  
  .menu li {
    width: 100%;
    height: 40px;
  }

  a {
    font-size: 10px;
  }

  #buscador {
    background-size: 10px;
    width: 100px;
    border: transparent;
    padding: 5px 5px 5px 20px;
    overflow: hidden;
  }

  #perfil{
    width: 20px;
    height: 20px;
  }

  .carro{
    width: 35px;
    height: 35px;
  }
  footer {
    padding-bottom: 30px;
  }
  
  .tit {
    font-size: 18px;
  }
  
  .division {
    font-size: 14px;
  }
}
