.container {
display: flex;
align-items: center;
justify-content: center;
margin-top: 3rem;
}
.carousel-inner{
  display: flex ;
} 

.src-contenedor{
  display: flex;
  justify-content: center;
  gap: 3%;
  align-items: center;
  position: relative;
  padding: auto;
  margin-top: 9.5%;
}

.github-logo{
  height:3rem;
}

#links{
  font-size: 14px;
}

section {
  position: relative;
  background-color: rgba(199, 193, 193, 0.842);
  color: rgb(0, 0, 0);
  margin-top: 50px;
  padding: 10px;
  bottom: 6px;
}

.pagostexto{
  font-size: 25px;
  font-weight: bold;
}

.pagos{
  display:flex;
  justify-content:space-around;
  align-items: center;
  padding: auto;
}

.pagarconmp, .pagarcontj, .mod, .efvo {
  display: flex;
  align-items: center;
  padding: 0%;
}

.mp {
  width: 100px;
  height: 100px;
}
.tarj {
  width: 50px;
  height: 50px;
}
.modo {
  width: 70px;
  height: 70px;
}
.efectivo {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .barraprincipal {
    display: flex;
    height: auto;
    max-width: 100%;
  }
  
  .Logopagina {
    height: 60px;
    width: 60px;
  }
  
  .icons {
    margin-top: 0;
  }
  
  .menu {
    height: auto;
    display: flex;
    align-items: center;
    max-width: auto;
    padding: 0;
  }
  
  .menu li {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }
  }

/* Estilos para pantallas medianas y grandes */
@media screen and (min-width: 768px) and (max-width: 992px){
  .barraprincipal {
    height: 120px;
  }
  
  .menu {
    height: 10vh;
  }
  
  .menu li {
    width: 125px;
    height: 50px;
  }
  .carousel-item{
    height:50%;
  }
  .imgc{
    width: auto;
    height:50%;
  }
  .pagos{
    width: 100%;
  }
  .carousel-inner{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

  }
  .carousel-inner .item{
    flex: 0 0 50%;
    scroll-snap-align: start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner .item img{
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  .carousel-indicators {
    display: none;
  } .carousel-inner{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

  }
  .carousel-inner .item{
    flex: 0 0 50%;
    scroll-snap-align: start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner .item img{
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  .carousel-indicators {
    display: none;
  }
  }

/* Estilos para dispositivos pequeños (hasta 480px) */

@media screen and (max-width: 480px) {
  .Logopagina {
    height: 60px;
    width: 600px;
  }

  .icons {
    margin-top: 0;
  }

  .menu {
    height: auto;
    flex-direction: wrap;
    align-items: center;
  }

  .menu li {
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }
  footer {
    padding-bottom: 50px;
  }

  .tit {
    font-size: 22px;
  }

  .division {
    font-size: 18px;
  }
  .imgc{
    width: auto;
    max-height: 250px
  }
  .pagos{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pagos .pagarconmp,
  .pagos .pagarcontj,
  .pagos .mod,
  .pagos .efvo {
    margin: 5px; /* Agrega un espaciado entre los métodos de pago */
    text-align: center; /* Centra el contenido de los métodos de pago en pantallas más pequeñas */
  }
.pagos img {
    max-width: 100px; /* Limita el tamaño de las imágenes de los métodos de pago */
  }

  /* Ajusta el tamaño y estilos de los encabezados <h4> para pantallas más pequeñas */
  h4 {
    font-size: 16px; /* Redefine el tamaño del encabezado <h4> para pantallas más pequeñas */
    margin-bottom: 10px; /* Agrega un espaciado inferior más pequeño para pantallas más pequeñas */
  }
  .carousel-inner{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

  }
  .carousel-inner .item{
    flex: 0 0 50%;
    scroll-snap-align: start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner .item img{
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  .carousel-indicators {
    display: none;
  }
  .src-contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

}

/* Estilos para dispositivos de 300 a 600 píxeles */

@media screen and (min-width: 230px) and (max-width: 600px) {
  header > div.barraprincipal {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Logopagina {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
  }

  .conjunto{
    display: flex;
    justify-content: space-around;
  }
  .menu {
    height: auto;
    flex-direction:row;
    align-items: center;
    gap: 4px;
  }
  
  .menu li {
    width: 100%;
    height: 40px;
  }

  a {
    font-size: 10px;
  }

  #buscador {
    background-size: 10px;
    width: 100px;
    border: transparent;
    padding: 5px 5px 5px 20px;
    overflow: hidden;
  }

  #perfil{
    width: 20px;
    height: 20px;
  }

  .carro{
    width: 35px;
    height: 35px;
  }
  footer {
    padding-bottom: 30px;
  }
  
  .tit {
    font-size: 18px;
  }
  
  .division {
    font-size: 14px;
  }
    .carousel-image {
      max-width: 150px; /* Establece el tamaño máximo de las imágenes del carrusel para pantallas desde 200px hasta 600px */
      max-height: 150px
  }
  .pagos{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pagos .pagarconmp,
  .pagos .pagarcontj,
  .pagos .mod,
  .pagos .efvo {
    margin: 5px; /* Agrega un espaciado entre los métodos de pago */
    text-align: center; /* Centra el contenido de los métodos de pago en pantallas más pequeñas */
  }
.pagos img {
    max-width: 100px; /* Limita el tamaño de las imágenes de los métodos de pago */
  }

  /* Ajusta el tamaño y estilos de los encabezados <h4> para pantallas más pequeñas */
  h4 {
    font-size: 16px; /* Redefine el tamaño del encabezado <h4> para pantallas más pequeñas */
    margin-bottom: 10px; /* Agrega un espaciado inferior más pequeño para pantallas más pequeñas */
  }
  .carousel-inner{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

  }
  .carousel-inner .item{
    flex: 0 0 100%;
    scroll-snap-align: start;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner .item:not(:first-child){
    padding-left: 0;
  }
  .carousel-indicators {
    display: none;
  }
  .src-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Mostrar 2 elementos por fila */
    grid-gap: 10px; /* Espacio entre las columnas */
  }

  .enlacees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }

  .github-logo{
    width: 30px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .links{
    text-align: center;
    font-size: 14px;
  }

}